<div class="information-table card d-none d-lg-block">
  <h6>Aplikacja Mobilna Monitorująca Zlecenia Produkcyjne</h6>
  <div *ngIf="this.router.url === '/users'" class="info">
    <h6>Strona na jakiej się znajdujesz: Pracownik</h6>
    <p><span>Dostęp:</span> Admin, Administracja</p>
    <p><span>Opis:</span> Pracownik administracyjny ma możliwość dodawania pracowników do bazy danych, edytowania oraz usuwania.</p>
  </div>
  <div *ngIf="this.router.url === '/workplace'" class="info">
    <h6>Strona na jakiej się znajdujesz: Stanowisko</h6>
    <p><span>Dostęp:</span> Admin, Administracja</p>
    <p><span>Opis:</span> Pracownik administracyjny ma możliwość przydzielania pracowników do stanowisk pracy, edytowania ich oraz usuwania.</p>
  </div>
  <div *ngIf="this.router.url === '/production-stage'" class="info">
    <h6>Strona na jakiej się znajdujesz: Etap produkcji</h6>
    <p><span>Dostęp:</span> Admin, Administracja</p>
    <p><span>Opis:</span> Pracownik administracyjny przydziela etapy prdukcji.</p>
  </div>
  <div *ngIf="this.router.url === '/warehouse'" class="info">
    <h6>Strona na jakiej się znajdujesz: Magazyn</h6>
    <p><span>Dostęp:</span> Lakiernik, Operator CNC, Stolarz, pracownik stanowiska montażu/pakowania</p>
    <p><span>Opis:</span> Pracownik ma dostep do aktualnie znajdujacych sie w magazynie stołów, oznaczenia iż dany element został zabrany do dalszego etapu produkcji oraz dodania go ponownie do magazynu. </p>
  </div>
  <div *ngIf="this.router.url === '/providers'" class="info">
    <h6>Strona na jakiej się znajdujesz: magazyn półproduktów</h6>
    <p><span>Dostęp:</span> Admin, Zaopatrzeniowiec, Kierownik</p>
    <p><span>Opis:</span> Pracownicy maja wgląd do stanu magazynu półproduktów. </p>
  </div>
  <div *ngIf="this.router.url === '/errand'" class="info">
    <h6>Strona na jakiej się znajdujesz: Zamówienia</h6>
    <p><span>Dostęp:</span> Admin, Obsługa</p>
    <p><span>Opis:</span> Pracownicy dodaja do bazy danych zamówienia, które są następnie wyświetlana pracownikom produkcyjnym.</p>
    <div class="order-table card d-none d-xl-block">
      <h5 id="users-header">Przekazanie zamówienia do produkcji:</h5>
      <table class="table table-striped flex-lg-column d-none d-lg-block">
        <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>numer zamówienia</th>
          <th>Liczba sztuk</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let Transfer of transferOfTheOrder; let i = index">
          <th scope="row" *ngIf="Transfer.ilosc !== 0">{{i+1}}</th>
          <td *ngIf="Transfer.ilosc !== 0">{{Transfer.zamowienie_id_zamowienie}}</td>
          <td *ngIf="Transfer.ilosc !== 0">{{Transfer.ilosc}}</td>
          <td *ngIf="Transfer.ilosc !== 0"><button type="button" (click)="AddTransferOfTheOrder(Transfer)" class="btn btn-raised btn-sm float-left" aria-label="Profile" title="przekaż na produkcję">
            <i class="material-icons">add</i></button></td>
          <td *ngIf="Transfer.ilosc !== 0"></td>
        </tr>
        </tbody>
      </table>
      <div class="card user-card d-block d-lg-none" *ngFor="let Transfer of transferOfTheOrder">
        <p><b>Id.</b> {{Transfer.zamowienie_id_zamowienie}} <b>Liczba sztuk:</b> {{Transfer.ilosc}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="this.router.url === '/consumption-of-intermediates'" class="info">
    <h6>Strona na jakiej się znajdujesz: Zużycie półproduktów na produkt</h6>
    <p><span>Dostęp:</span> Admin, Kierownik</p>
    <p><span>Opis:</span> Pracownik dodaje do bazy danych zużycie odpowiednich połproduktów niezbędnych do wyprodukowania danego produktu.</p>
  </div>
  <div *ngIf="this.router.url === '/order-monitoring'" class="info">
    <h6>Strona na jakiej się znajdujesz: Status zamówienia</h6>
    <p><span>Dostęp:</span> Admin, Administracja, Obsługa</p>
    <p><span>Opis:</span> Pracownikom wyświetla się informcja w jakim etapie produkcyji znajduje się dane zamówienie.</p>
  </div>
  <div *ngIf="this.router.url === '/production-results'" class="info">
    <h6>Strona na jakiej się znajdujesz: Wyniki produkcji</h6>
    <p><span>Dostęp:</span> Admin, Administracja, Obsługa</p>
    <p><span>Opis:</span> Pracownikom wyświetlają się wyniki produkcji.</p>
  </div>
  <div *ngIf="this.router.url === '/products'" class="info">
    <h6>Strona na jakiej się znajdujesz: Produkty</h6>
    <p><span>Dostęp:</span> Admin, Administracja, Obsługa</p>
    <p><span>Opis:</span> Pracownicy mają możliwosć dodawania nowych produktów oraz modeli produktów które są produkowane w zakładzie. Dodatkowo są wyświetlane informacje o dostępnych aktulanie produktach i modelach produkowanych przez zakłąd stolarski.</p>
  </div>
</div>
<div class="card user-card d-block d-lg-none">
  <p class="in">przekazanie zamówienia do produkcji</p>
<div class="card user-card d-block d-lg-none" *ngFor="let Transfer of transferOfTheOrder">
  <p *ngIf="Transfer.ilosc !== 0"><b>Id.</b> {{Transfer.zamowienie_id_zamowienie}} <b>Liczba sztuk:</b> {{Transfer.ilosc}}</p>
  <span *ngIf="Transfer.ilosc !== 0"><button type="button" (click)="AddTransferOfTheOrder(Transfer)" class="btn btn-raised btn-sm" aria-label="Profile" title="przekaż na produkcję">
    <i class="material-icons">add</i></button></span>
</div>
</div>
