<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="user.Stanowisko === 'Administracja' || user.Stanowisko === 'Admin'">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Pracownik</a>
      </li>
      <li class="nav-item" *ngIf="user.Stanowisko === 'Administracja' || user.Stanowisko === 'Admin'">
        <a class="nav-link" routerLink="/workplace" routerLinkActive="active">Stanowisko</a>
      </li>
      <li class="nav-item" *ngIf="user.Stanowisko === 'Administracja' || user.Stanowisko === 'Admin'">
        <a class="nav-link" routerLink="/production-stage" routerLinkActive="active">Etap produkcji</a>
      </li>
      <li class="nav-item" *ngIf="user.Stanowisko === 'Administracja' || user.Stanowisko === 'Admin'">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Produkty</a>
      </li>
      <li class="nav-item" *ngIf="user.Stanowisko === 'Operator CNC' || user.Stanowisko === 'Stolarz' || user.Stanowisko === 'Lakiernik' || user.Stanowisko === 'Montaż/Pakownia' || user.Stanowisko === 'Operator piły panelowej' || user.Stanowisko === 'Operator Okleiniarki'">
        <a class="nav-link " routerLink="/warehouse" routerLinkActive="active">Magazyn</a>
      </li>
      <li class="nav-item" *ngIf="user.Stanowisko === 'Kierownik' || user.Stanowisko === 	Zaopatrzeniowiec || user.Stanowisko === 'Admin'">
        <a class="nav-link" routerLink="/providers" routerLinkActive="active">Magazy Półprodukty</a>
      </li>
      <li class="nav-item" *ngIf="user.Stanowisko === 'Kierownik' || user.Stanowisko === 'Admin'">
        <a class="nav-link" routerLink="/consumption-of-intermediates" routerLinkActive="active">Zużycie póproduktu</a>
      </li>
      <li class="nav-item" *ngIf="user.Stanowisko === 'Obsługa' || user.Stanowisko === 'Admin'">
        <a class="nav-link" routerLink="/errand" routerLinkActive="active">Zamówienie</a>
      </li>
      <li class="nav-item" *ngIf="user.Stanowisko === 'Administracja' || user.Stanowisko === 'Obsługa' || user.Stanowisko === 'Admin'">
        <a class="nav-link" routerLink="/order-monitoring" routerLinkActive="active">Status zamówienia</a>
      </li>
      <li class="nav-item" *ngIf="user.Stanowisko === 'Obsługa' || user.Stanowisko === 'Admin'">
        <a class="nav-link" routerLink="/production-results" routerLinkActive="active">Wyniki produkcji</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="userProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.Imie + ' ' + user.Nazwisko}}</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="logout()">Wyloguj</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

