.btn{
  color: #000000;
  font-weight: bold;
  border-color: #000000;
}
h3{
  padding: 5px;
}
.user-form{
  padding-left: 10px;
}
.table{
  padding-left: 5px;
  padding-top: 20px;
}
.thead-inverse th{
  background-color: #2196F3;
  color: #ffffff;
}
.description{
  overflow: auto;
  max-width: 900px;
}
p{
  display :inline-block;
  margin-right: 3px;
}
textarea{
  resize: none;
  overflow: inherit;
}
